* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #111;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    background: #111;
}

/* FULLSCREEN */

#fullscreen {
    position: fixed;
    right: 12px;
    top: 12px;

    width: 44px;
    height: 44px;

    z-index: 20;

    border: 2px solid rgba(255,255,255,.5);
    border-radius: 7px;

    background: rgba(0,0,0,.5);
    color: white;

    font-size: 23px;
}

/* JOYSTICK */

#joystick {
    position: fixed;

    left: 15px;
    bottom: 15px;

    width: 135px;
    height: 135px;

    z-index: 10;

    opacity: .45;
}

#joystick button {
    position: absolute;

    width: 43px;
    height: 43px;

    border: 2px solid white;
    border-radius: 9px;

    background: rgba(20,20,20,.45);
    color: white;

    font-size: 18px;

    touch-action: none;
}

#joystick button:active {
    background: rgba(255,255,255,.25);
}

#joystick .up {
    left: 46px;
    top: 0;
}

#joystick .down {
    left: 46px;
    bottom: 0;
}

#joystick .left {
    left: 0;
    top: 46px;
}

#joystick .right {
    right: 0;
    top: 46px;
}

/* Z X C */

#buttons {
    position: fixed;

    right: 15px;
    bottom: 18px;

    display: flex;
    gap: 10px;

    z-index: 10;

    opacity: .48;
}

#buttons button {
    width: 53px;
    height: 53px;

    border-radius: 50%;

    border: 2px solid white;

    background: rgba(0,0,0,.5);

    color: white;

    font-family: monospace;
    font-size: 17px;
    font-weight: bold;

    touch-action: none;
}

#buttons .z {
    border-color: #ff5555;
}

#buttons .x {
    border-color: #ffdd55;
}

#buttons .c {
    border-color: #5599ff;
}

#buttons button:active {
    background: rgba(255,255,255,.25);
}

@media (max-width: 600px) {

    #joystick {
        transform: scale(.9);
        transform-origin: bottom left;
        left: 8px;
        bottom: 8px;
    }

    #buttons {
        transform: scale(.9);
        transform-origin: bottom right;
        right: 8px;
        bottom: 8px;
    }
}
